<% tamanho = 0 %>
<table class="table table-striped table-bordered table-condensed table-hover">
	<% if @resultado.first %>
		<thead id="cabecalho_relatorio">
	  	<tr>
	    	<th></th>
	    	<% (params[:relatorios][:data_inicial].to_date.year..params[:relatorios][:data_final].to_date.year).each do |ano| %>
	    		<% (params[:relatorios][:data_inicial].to_date.month..params[:relatorios][:data_final].to_date.month).each do |mes| %>
	    			<th colspan="2" class="center">
	    				<%= "#{mes}/#{ano}" %>
	    			</th>
	    			<% tamanho += 1 %>
	    		<% end %>
	    	<% end %>
	    </tr>
	    <tr>
	    	<th>Produto</th>
	    	<% (params[:relatorios][:data_inicial].to_date.year..params[:relatorios][:data_final].to_date.year).each do |ano| %>
	    		<% (params[:relatorios][:data_inicial].to_date.month..params[:relatorios][:data_final].to_date.month).each do |mes| %>
	    			<th>Fat.</th>
	    			<th>Qtde.</th>
	    		<% end %>
	    	<% end %>
	    </tr>
	  </thead>
  	<tbody id="resultado_relatorio">
			<% @resultado.last.each do |produto, dados| %>
				<tr>
					<% if produto.is_a?(String) %>
						<td><%= produto %></td>
					<% end %>
					<% dados.each do |ano, meses| %>
						<% meses.each do |mes, valores| %>
							<% if valores.has_key?(:vendas_mensal) %>
								<td class="right">
									<%= number_to_currency(valores[:vendas_mensal], unit: '', precision: 2, separator: ',', delimiter: '.') %>
								</td>
								<td class="right">
									<%= number_to_currency(valores[:quantidade_mensal], unit: '', precision: 2, separator: ',', delimiter: '.') %>
								</td>
							<% end %>
						<% end %>
					<% end %>
				</tr>
			<% end %>

			<tr class="totais">
				<td>TOTAL</td>
				<% @resultado.last[:totais].each do |ano, totais| %>
					<% totais.each do |mes, valores| %>
						<td class="right">
							<%= number_to_currency(valores[:total_vendas], unit: '', precision: 2, separator: ',', delimiter: '.') %>
						</td>
						<td class="right">
							<%= number_to_currency(valores[:total_quantidade], unit: '', precision: 2, separator: ',', delimiter: '.') %>
						</td>
					<% end %>
				<% end %>
			</tr>
		</tbody>
	<% else %>
		<thead id="cabecalho_relatorio">
	    <tr>
	    	<th>Resultado</th>
	    </tr>
	  </thead>
	  <tbody>
			<tr>
				<td class="totais" colspan="<% tamanho %>">
					<%= @resultado.last %>
				</td>
			</tr>
		</tbody>
	<% end %>
</table>
