<% if @resultado.first %>
	<% @resultado[1].each do |ranking| %>
		<tr>
			<td>
				<%= "#{ranking[:codigo_sistema_legado]} - #{ranking[:nome_produto]}" %>
			</td>
			<td>
				<%= ranking[:distribuidor] %>
			</td>
			<td class="right">
				<%= number_to_currency(ranking[:total_vendas], unit: '', precision: 2, separator: ',', delimiter: '.') %>
			</td>
			<td class="right">
				<%= ranking[:perc_vendas] %>%
			</td>
		</tr>
	<% end %>

	<tr class="totais">
		<td>TOTAL</td>
		<td class="right" colspan="2">
			<%= number_to_currency(@resultado[2], precision: 2, separator: ',', delimiter: '.')  %>
		</td>
		<td class="right">100,00%</td>
	</tr>
<% else %>
	<tr>
		<td class="totais" colspan="4">
			<%= @resultado.last %>
		</td>
	</tr>
<% end %>
