<div id="filtros_master" class="accordion-body collapse in">
  <div class="accordion-inner2">
    <%= form_tag [:vendas_categorias_run, :entidade, :administracao, :relatorios, :distribuidores], id: 'form_relatorio', class: 'form-inline', method: :post, remote: true do %>
      <div class="sub">
        <%= text_field_tag 'relatorios[data_inicial]', nil, class: 'auto-datepicker', placeholder: 'data inicial' %>
        <%= text_field_tag 'relatorios[data_final]', nil, class: 'auto-datepicker', placeholder: 'data final' %>

        <%= select_tag 'relatorios[ordenacao]',
            options_for_select(tipo_ordenacao_for_select, selected: params[:relatorios][:ordenacao]),
            prompt: 'ORDENAÇÃO', :'data-filtro' => 'filtro_ordenacao', :'data-titulo' => 'Ordenação',
            class: 'medium-select'
        %>

        <%= submit_tag 'Pesquisar', class: 'btn btn-inverse', data: { disable_with: 'Pesquisando...' } %>
      </div>
      <div class="sub">
        <%= select_tag 'relatorios[categoria_ids]',
            options_for_select(categorias_for_select, selected: params[:relatorios][:categoria_ids]),
            prompt: 'CATEGORIAS', multiple: true, :'data-filtro' => 'filtro_categoria',
            :'data-titulo' => 'Categoria', class: 'medium-select-multilpe'
        %>
      </div>
    <% end %>
  </div>
</div>
