<table class="table table-striped table-bordered">
  <thead>
    <tr>
          <th>ID do Job</th>
          <th>ID do Item de Importação</th>
          <th>Resultado</th>
          <th>Status</th>
          <th>Arquivo</th>
    </tr>
  </thead>
  <tbody>
    <% if @jobs.any? %>
      <% @jobs.each do |job| %>
        <tr>
            <td><%=job.id%></td>
            <td><%=job.item_importacao_id%></td>
            <td><%=job.retorno.html_safe rescue "Não processado"%></td>
            <td><%=job.status_verbose%></td>
            <td><%=link_to 'Download', [:download_file,:entidade,:administracao,job] if job.status == ItemImportacaoJob::ERROS%></td>
          </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="3">Nenhum dado para exibir.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @jobs %>
