<!DOCTYPE html>
<html>
<head>
  <title>Gestão de Carteira</title>
  <%= stylesheet_link_tag  'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'http://www.google.com/jsapi' %>

  <%= csrf_meta_tags %>
</head>
<body>
  <% unless notice.blank? %>
    <%= render 'notice', notice: notice %>
  <% end %>
  <div id="page_content" class="container">
    <div class="page-header">
      <h1><%= current_title %> <small><%= current_subtitle %></small></h1>
    </div>
    <%= yield %>
  </div>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'Gestão de Carteira', [:entidade], class: 'brand' %>
        <% if user_authenticated? %>
          <ul class="nav" role="navigation">
            <% if current_user_is_admin? %>
              <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Cadastros
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li><%= link_to 'Clientes', [:entidade, :administracao, :clientes] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Metas', [:entidade, :administracao, :metas] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Produtos', [:entidade, :administracao, :produtos] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Produtos da Entidade', [:entidade, :administracao, :produto_entidades] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Unidades', [:entidade, :administracao, :unidades] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Usuários', [:entidade, :administracao, :usuario_entidades] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Vendedores', [:entidade, :administracao, :vendedores] %></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Indicadores
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li><%= link_to 'Valor/Frequência', [:entidade, :administracao, :conjunto_indicadores] %></li>
                  <li class="divider"></li>
                  <li><a href="#">Incentivo</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Importações
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li><%= link_to 'Agendamentos', [:entidade, :administracao, :agendamentos] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Importação Dinâmica', [:entidade, :administracao, :importacoes] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Importação de Produtos Base', [:entidade, :administracao, :produto_entidade_jobs] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Jobs de Importação', [:jobs, :entidade, :administracao, :importacoes] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Relatório de Clientes', [:entidade, :administracao, :cliente_temps] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Relatório de Notas Fiscais', [:entidade, :administracao, :nota_fiscal_temps] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Relatório de Produtos', [:entidade, :administracao, :produto_temps] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Relatório de Vendedores', [:entidade, :administracao, :vendedor_temps] %></li>
                </ul>
              </li>
          
              <li><%= link_to 'Dashboard', [:entidade, :administracao, :graficos, :distribuidores] %></li>
              
              <!-- <li><%#= link_to 'Relatórios', [:entidade, :administracao, :relatorios, :carteiras] %></li> -->
              <li class="dropdown">
                <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">Relatórios
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                  <li><%= link_to 'Acompanhamento mês a mês', [:acompanhamento_mes_a_mes_index, :entidade, :administracao, :relatorios, :distribuidores] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Curva ABC de Produtos', [:curva_abc_produtos_index, :entidade, :administracao, :relatorios, :distribuidores] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Ranking de Clientes', [:ranking_clientes_index, :entidade, :administracao, :relatorios, :distribuidores] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Ranking de Produtos', [:ranking_produtos_index, :entidade, :administracao, :relatorios, :distribuidores] %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Vendas por Distribuidor', [:vendas_distribuidores_index, :entidade, :administracao, :relatorios, :distribuidores] %></li>
                </ul>
              </li>

            <% else %>
              <li><%= link_to 'Dashboard', [:entidade, :dashboards] %></li>
              <li><%= link_to 'Relatórios', '#' %></li>
            <% end %>
          </ul>
          <ul class="nav pull-right">
            <li class="dropdown">
              <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user icon-white"></i> Usuário <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
                <li><%= link_to 'Alterar Unidade', [:entidade, :select_unidades] %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to [:entidade, :sign_out] do %>
                    <i class="icon-off"></i> Sair
                  <% end %>
                </li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
  <div id="notice_over">
  </div>
</body>
</html>
